# version format
version: 1.0.{build}

# Operating system (build VM template)
os: Windows Server 2012
platform: x64
configuration: Release

# scripts that run after cloning repository
install:
  - cmd : git clone https://github.com/quasar-team/quasar-validation-ci.git
  - cmd : python quasar-validation-ci/CI/setup-windows-dependencies.py
  - cmd : dir
  - cmd : type setLocalPath.bat
  - cmd : CALL setLocalPath.bat

build_script:
  - cmd : SET 

# Get the LED traffic light Design.xml
  - cmd : mv --force quasar-validation-ci/CI/Design.xml Design/
  
# open6 specific operations
  - cmd : python quasar.py enable_module open62541-compat
  - cmd : python quasar.py prepare_build open6_win_configuration.cmake 
  - cmd : cd open62541-compat && python prepare.py && cd ..

# run generator on Design.xml devices
  - cmd : python quasar.py generate device GreenLED
  - cmd : python quasar.py generate device YellowLED
  - cmd : python quasar.py generate device RedLED
  
# start build
  - cmd : echo "Calling build...(note always returns 0 to mask any internal msbuild errors - exe is checked below)"
  - cmd : python quasar.py build Release open6_win_configuration.cmake && exit 0
  - cmd : echo "build complete!"
  - ps : if(Test-Path bin/OpcUaServer.exe)
         {
          Write-Output "Succesfully Built QUASAR." ;
         }
         else
         {
          Write-Error "There was a problem building QUASAR; The script will now terminate." ;
          Exit ;
         }

# uncomment to block VM deletion for investigating broken builds.
on_finish:
  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
