{# © Copyright CERN, 2015.                                                       #}
{# All rights not expressly granted are reserved.                                #}
{# This file is part of Quasar.                                                  #}
{#                                                                               #}
{# Quasar is free software: you can redistribute it and/or modify                #}
{# it under the terms of the GNU Lesser General Public Licence as published by   #}
{# the Free Software Foundation, either version 3 of the Licence.                #}
{# Quasar is distributed in the hope that it will be useful,                     #}
{# but WITHOUT ANY WARRANTY; without even the implied warranty of                #}
{#                                                                               #}
{# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                 #}
{# GNU Lesser General Public Licence for more details.                           #}
{#                                                                               #}
{# You should have received a copy of the GNU Lesser General Public License      #}
{# along with Quasar.  If not, see <http://www.gnu.org/licenses/>                #}
{#                                                                               #}
{# Created:   Apr 2015    (XSLT version, pnikiel)                                #}
{#            05-Mar-2020 (translating XSLT to Jinja2, pnikiel)                  #}
{# Authors:                                                                      #}
{#   Piotr Nikiel <piotr@nikiel.info>                                            #}

{% for className in designInspector.get_names_of_all_classes() %}
add_custom_command(OUTPUT ${PROJECT_BINARY_DIR}/Device/generated/Base_D{{className}}.h
WORKING_DIRECTORY ${PROJECT_SOURCE_DIR}
COMMAND ${PYTHON_COMMAND} quasar.py generate base_h {{className}} --project_binary_dir ${PROJECT_BINARY_DIR}
DEPENDS
  ${DESIGN_FILE}
  validateDesign
  ${PROJECT_SOURCE_DIR}/quasar.py
  ${PROJECT_SOURCE_DIR}/Device/templates/designToDeviceBaseHeader.jinja
  Configuration.hxx_GENERATED
  templates/commonDeviceTemplates.jinja
  ${QUASAR_TRANSFORM_SENSITIVE_FILES}
)
{% endfor %}

set(DEVICEBASE_GENERATED_FILES
      include/DRoot.h
      src/DRoot.cpp
      generated/Base_All.cpp
      {% for className in designInspector.get_names_of_all_classes(only_with_device_logic=True) %}
      generated/Base_D{{className}}.h
      {% endfor %}
)