{# © Copyright CERN, 2015.                                                       #}
{# All rights not expressly granted are reserved.                                #}
{# This file is part of Quasar.                                                  #}
{#                                                                               #}
{# Quasar is free software: you can redistribute it and/or modify                #}
{# it under the terms of the GNU Lesser General Public Licence as published by   #}
{# the Free Software Foundation, either version 3 of the Licence.                #}
{# Quasar is distributed in the hope that it will be useful,                     #}
{# but WITHOUT ANY WARRANTY; without even the implied warranty of                #}
{#                                                                               #}
{# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                 #}
{# GNU Lesser General Public Licence for more details.                           #}
{#                                                                               #}
{# You should have received a copy of the GNU Lesser General Public License      #}
{# along with Quasar.  If not, see <http://www.gnu.org/licenses/>                #}
{#                                                                               #}
{# Created:   Jul 2014 (the original XSLT version)                               #}
{#            02 Apr 2020 (translated to Jinja2)                                 #}
{# Authors:                                                                      #}
{#   Paris Moschovakos <paris.moschovakos@cern.ch>                               #}
{#   Piotr Nikiel <piotr@nikiel.info>                                            #}

{% import 'headers.jinja' as headers %}
{% import 'commonDeviceTemplates.jinja' as commonDeviceTemplates %}
{% set this = designInspector.objectify_class(className) %}
{{ headers.cppStubHeader(designInspector.objectify_root().get('author')) }}

#include <Configuration.hxx>

#include <D{{className}}.h>
#include <AS{{className}}.h>

namespace Device
{

D{{className}}::D{{className}} (
  const Configuration::{{className}}& config,
  Parent_D{{className}}* parent
):
  Base_D{{className}}( config, parent)
{
  /* TODO: initialize your device here */
}

D{{className}}::~D{{className}} ()
{
}

/* Implement your overrides below. Base_D{{className}} provides safe defaults
   (returning OpcUa_BadNotImplemented) for any method you don't override. */

{% set q = 'D' + className + '::' %}
{% for cv in designInspector.objectify_cache_variables(className, "[@addressSpaceWrite='delegated']") %}
{{ commonDeviceTemplates.writeCacheVarSig(cv, q) }}
{
  /* TODO: implement */
  return OpcUa_BadNotImplemented;
}
{% endfor %}

{% for sv in designInspector.objectify_source_variables(className) %}
  {% if sv.get('addressSpaceRead') == 'asynchronous' or sv.get('addressSpaceRead') == 'synchronous' %}
{{ commonDeviceTemplates.readSourceVarSig(sv, q) }}
{
  sourceTime = UaDateTime::now();
  /* TODO: implement */
  return OpcUa_BadNotImplemented;
}
  {% endif %}
  {% if sv.get('addressSpaceWrite') == 'asynchronous' or sv.get('addressSpaceWrite') == 'synchronous' %}
{{ commonDeviceTemplates.writeSourceVarSig(sv, q) }}
{
  /* TODO: implement */
  return OpcUa_BadNotImplemented;
}
  {% endif %}
{% endfor %}

{% for m in this.method %}
{{ commonDeviceTemplates.callMethodSig(m, oracle, q) }}
{
  /* TODO: implement */
  return OpcUa_BadNotImplemented;
}
{% endfor %}

/* Add your fully custom methods below */

}
