{# © Copyright CERN, 2015.                                                       #}
{# All rights not expressly granted are reserved.                                #}
{# This file is part of Quasar.                                                  #}
{#                                                                               #}
{# Quasar is free software: you can redistribute it and/or modify                #}
{# it under the terms of the GNU Lesser General Public Licence as published by   #}
{# the Free Software Foundation, either version 3 of the Licence.                #}
{# Quasar is distributed in the hope that it will be useful,                     #}
{# but WITHOUT ANY WARRANTY; without even the implied warranty of                #}
{#                                                                               #}
{# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                 #}
{# GNU Lesser General Public Licence for more details.                           #}
{#                                                                               #}
{# You should have received a copy of the GNU Lesser General Public License      #}
{# along with Quasar.  If not, see <http://www.gnu.org/licenses/>                #}
{#                                                                               #}
{# Created:   Jul 2014 (the original XSLT version)                               #}
{#            12 Mar 2020 (translated to Jinja2)                                 #}
{# Authors:                                                                      #}
{#   Paris Moschovakos <paris.moschovakos@cern.ch>                               #}
{#   Piotr Nikiel <piotr@nikiel.info>                                            #}

{% import 'headers.jinja' as headers %}
{% import 'commonDeviceTemplates.jinja' as commonDeviceTemplates %}
{% set this = designInspector.objectify_class(className) %}
{{ headers.cppStubHeader(designInspector.objectify_root().get('author')) }}

#ifndef __D{{className}}__H__
#define __D{{className}}__H__

#include <Base_D{{className}}.h>

namespace Device
{

class D{{className}} : public Base_D{{className}}
{
public:
  explicit D{{className}} (
    const Configuration::{{className}}& config,
    Parent_D{{className}}* parent
  );
  ~D{{className}} () override;

  /* Override virtual methods from Base_D{{className}} as needed.
     All have safe defaults returning OpcUa_BadNotImplemented.
     See Base_D{{className}}.h for the full interface.
     Run './quasar.py device_report' to check override status. */
  {% for cv in designInspector.objectify_cache_variables(className, "[@addressSpaceWrite='delegated']") %}
  {{ commonDeviceTemplates.writeCacheVarSig(cv) }} override;
  {% endfor %}
  {% for sv in designInspector.objectify_source_variables(className) %}
    {% if sv.get('addressSpaceRead') == 'asynchronous' or sv.get('addressSpaceRead') == 'synchronous' %}
  {{ commonDeviceTemplates.readSourceVarSig(sv) }} override;
    {% endif %}
    {% if sv.get('addressSpaceWrite') == 'asynchronous' or sv.get('addressSpaceWrite') == 'synchronous' %}
  {{ commonDeviceTemplates.writeSourceVarSig(sv) }} override;
    {% endif %}
  {% endfor %}
  {% for m in this.method %}
  {{ commonDeviceTemplates.callMethodSig(m, oracle) }} override;
  {% endfor %}

  /* Add your custom members and methods below */

private:
  D{{className}}( const D{{className}}& other ) = delete;
  D{{className}}& operator=(const D{{className}}& other) = delete;
};

}

#endif // __D{{className}}__H__
