{# © Copyright CERN, 2015.                                                       #}
{# All rights not expressly granted are reserved.                                #}
{# This file is part of Quasar.                                                  #}
{#                                                                               #}
{# Quasar is free software: you can redistribute it and/or modify                #}
{# it under the terms of the GNU Lesser General Public Licence as published by   #}
{# the Free Software Foundation, either version 3 of the Licence.                #}
{# Quasar is distributed in the hope that it will be useful,                     #}
{# but WITHOUT ANY WARRANTY; without even the implied warranty of                #}
{#                                                                               #}
{# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                 #}
{# GNU Lesser General Public Licence for more details.                           #}
{#                                                                               #}
{# You should have received a copy of the GNU Lesser General Public License      #}
{# along with Quasar.  If not, see <http://www.gnu.org/licenses/>                #}
{#                                                                               #}
{# Created:   Apr 2015    (XSLT version, pnikiel)                                #}
{#            05-Mar-2020 (translating XSLT to Jinja2, pnikiel)                  #}
{# Authors:                                                                      #}
{#   Piotr Nikiel <piotr@nikiel.info>                                            #}

{% import 'headers.jinja' as headers %}
{{ headers.cppFullGeneratedHeader()|cppCommentsToCmakeComments }}

{% for className in designInspector.get_names_of_all_classes() %}
  add_custom_command(OUTPUT ${PROJECT_BINARY_DIR}/AddressSpace/include/AS{{className}}.h
  WORKING_DIRECTORY ${PROJECT_SOURCE_DIR}
  COMMAND python3 quasar.py generate asclass {{className}} --project_binary_dir ${PROJECT_BINARY_DIR}
  DEPENDS ${DESIGN_FILE} ${PROJECT_SOURCE_DIR}/AddressSpace/templates/designToClassHeader.jinja Configuration.hxx_GENERATED validateDesign ${QUASAR_TRANSFORM_SENSITIVE_FILES}
  )
{% endfor %}

add_custom_command(OUTPUT ${PROJECT_BINARY_DIR}/AddressSpace/src/AddressSpaceClasses.cpp
WORKING_DIRECTORY ${PROJECT_SOURCE_DIR}
COMMAND ${PYTHON_COMMAND} quasar.py generate asclass_cpp_all --project_binary_dir ${PROJECT_BINARY_DIR}
DEPENDS ${DESIGN_FILE} ${PROJECT_SOURCE_DIR}/AddressSpace/templates/designToClassBody.jinja Configuration.hxx_GENERATED validateDesign
)

set(ADDRESSSPACE_CLASSES
${PROJECT_BINARY_DIR}/AddressSpace/src/AddressSpaceClasses.cpp
)

set(ADDRESSSPACE_HEADERS
{% for className in designInspector.get_names_of_all_classes() %}
  ${PROJECT_BINARY_DIR}/AddressSpace/include/AS{{className}}.h
{% endfor %}
)
