abody {
    background-color: #ffffff;
    color: #000000;
#    font-size: 11pt;
    margin: 0;
}
div {
    font-family: arial,helvetica,sans-serif,geneva;
#    font-size: 11pt;
}
font {
    font-family: arial,helvetica,sans-serif,geneva;
#    font-size: 11pt;
}
h1,h2,h3,h4,p,li,body {
    font-family: arial,helvetica,sans-serif,geneva;
#    font-size: 11pt;
}
td {
    font-family: arial,helvetica,sans-serif,geneva;
#    font-size: 11pt;
}
a {
    font-family: Helvetica,Arial,sans-serif,geneva;
    color: #2a75bf;
    text-decoration: underline;
}
a:hover {
    color: #2a75bf;
    text-decoration: none;
}
a:visited {
    color: #999999;
    text-decoration: underline;
}
a:focus {
    color: #cfcfdf;
    text-decoration: underline;
}
a:active {
    color: #006633;
    text-decoration: underline;
}
a.header:visited {
    color: #cfcfdf;
    text-decoration: underline;
}
a.title {
    font-family: Helvetica,Arial,sans-serif,geneva;
#    font-size: 16pt;
    text-decoration: underline;
}
a.title:hover {
    color: white;
    text-decoration: underline;
}
a.title:visited {
    color: #cfcfdf;
    text-decoration: underline;
}
a.title:focus {
    color: #cfcfdf;
    text-decoration: underline;
}
a.title:active {
    color: #cfcfdf;
    text-decoration: underline;
}
td.Title {
    background-color: #dbeffb;
    border: 0 none;
    color: #1d3e84;
#    font-size: 13pt;
    font-weight: bold;
    line-height: 16px;
    padding-bottom: 3px;
    text-align: center;
}
a#Tab:link:hover, a#Tab:visited:hover {
    color: red;
#    font-size: 16px;
    text-decoration: underline;
}
a#Tab:link, a#Tab:visited {
    color: #1d3e84;
    text-align: center;
    text-decoration: underline;
}
