<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://cern.ch/quasar/Configuration" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://cern.ch/quasar/Configuration ../Configuration/Configuration.xsd ">
	<TestClass
		name="tc1"
		configuration_OpcUaByte_scalar_delegated_nullForbidden="66"
		configuration_OpcUaSByte_scalar_forbidden_nullAllowed="-66"
		configuration_OpcUaInt16_scalar_forbidden_nullAllowed="-666"
		configuration_OpcUaDouble_scalar_forbidden_nullAllowed="3.1415"
		configuration_OpcUaUInt16_scalar_forbidden_nullAllowed="666"
		configuration_OpcUaInt16_scalar_forbidden_nullForbidden="-666"
		configuration_OpcUaUInt32_scalar_delegated_nullForbidden="666666"
		configuration_OpcUaBoolean_scalar_forbidden_nullForbidden="true"
		configuration_OpcUaDouble_scalar_delegated_nullAllowed="3.1415"
		configuration_OpcUaSByte_scalar_delegated_nullAllowed="-66"
		configuration_OpcUaUInt16_scalar_delegated_nullAllowed="666"
		configuration_OpcUaInt16_scalar_delegated_nullAllowed="-666"
		configuration_OpcUaByte_scalar_forbidden_nullForbidden="66"
		configuration_OpcUaUInt64_scalar_delegated_nullForbidden="666666"
		configuration_OpcUaDouble_scalar_delegated_nullForbidden="3.1415"
		configuration_OpcUaSByte_scalar_delegated_nullForbidden="-66"
		configuration_OpcUaUInt32_scalar_forbidden_nullForbidden="666666"
		configuration_OpcUaUInt16_scalar_delegated_nullForbidden="666"
		configuration_OpcUaInt32_scalar_delegated_nullForbidden="-666666"
		configuration_UaString_scalar_delegated_nullForbidden="a_very_nice_test_string"
		configuration_OpcUaUInt64_scalar_forbidden_nullForbidden="666"
		configuration_UaString_scalar_forbidden_nullAllowed="a_very_nice_test_string"
		configuration_OpcUaDouble_scalar_forbidden_nullForbidden="3.1415"
		configuration_OpcUaSByte_scalar_forbidden_nullForbidden="-66"
		configuration_OpcUaFloat_scalar_delegated_nullForbidden="3.1415"
		configuration_OpcUaBoolean_scalar_forbidden_nullAllowed="true"
		configuration_OpcUaInt64_scalar_delegated_nullForbidden="666"
		configuration_OpcUaUInt16_scalar_forbidden_nullForbidden="666"
		configuration_OpcUaByte_scalar_forbidden_nullAllowed="66"
		configuration_OpcUaFloat_scalar_forbidden_nullAllowed="3.1415"
		configuration_OpcUaUInt64_scalar_forbidden_nullAllowed="666"
		configuration_OpcUaUInt32_scalar_forbidden_nullAllowed="666"
		configuration_OpcUaInt32_scalar_forbidden_nullAllowed="666"
		configuration_OpcUaInt64_scalar_forbidden_nullAllowed="666"
		configuration_UaString_scalar_delegated_nullAllowed="a_very_nice_test_string"
		configuration_OpcUaInt32_scalar_forbidden_nullForbidden="666"
		configuration_UaString_scalar_forbidden_nullForbidden="a_very_nice_test_string"
		configuration_OpcUaBoolean_scalar_delegated_nullAllowed="true"
		configuration_OpcUaInt16_scalar_delegated_nullForbidden="666"
		configuration_OpcUaBoolean_scalar_delegated_nullForbidden="true"
		configuration_OpcUaByte_scalar_delegated_nullAllowed="66"
		configuration_OpcUaFloat_scalar_delegated_nullAllowed="3.1415"
		configuration_OpcUaUInt64_scalar_delegated_nullAllowed="666"
		configuration_OpcUaUInt32_scalar_delegated_nullAllowed="666"
		configuration_OpcUaFloat_scalar_forbidden_nullForbidden="3.1415"
		configuration_OpcUaInt32_scalar_delegated_nullAllowed="666"
		configuration_OpcUaInt64_scalar_delegated_nullAllowed="666"
		configuration_OpcUaInt64_scalar_forbidden_nullForbidden="666">
		<configuration_OpcUaBoolean_array_forbidden_nullForbidden></configuration_OpcUaBoolean_array_forbidden_nullForbidden>
		<configuration_OpcUaByte_array_forbidden_nullForbidden></configuration_OpcUaByte_array_forbidden_nullForbidden>
		<configuration_OpcUaSByte_array_forbidden_nullForbidden></configuration_OpcUaSByte_array_forbidden_nullForbidden>
		<configuration_OpcUaUInt16_array_forbidden_nullForbidden></configuration_OpcUaUInt16_array_forbidden_nullForbidden>
		<configuration_OpcUaInt16_array_forbidden_nullForbidden></configuration_OpcUaInt16_array_forbidden_nullForbidden>
		<configuration_OpcUaUInt32_array_forbidden_nullForbidden></configuration_OpcUaUInt32_array_forbidden_nullForbidden>
		<configuration_OpcUaInt32_array_forbidden_nullForbidden></configuration_OpcUaInt32_array_forbidden_nullForbidden>
		<configuration_OpcUaUInt64_array_forbidden_nullForbidden></configuration_OpcUaUInt64_array_forbidden_nullForbidden>
		<configuration_OpcUaInt64_array_forbidden_nullForbidden></configuration_OpcUaInt64_array_forbidden_nullForbidden>
		<configuration_OpcUaDouble_array_forbidden_nullForbidden></configuration_OpcUaDouble_array_forbidden_nullForbidden>
		<configuration_OpcUaFloat_array_forbidden_nullForbidden></configuration_OpcUaFloat_array_forbidden_nullForbidden>
		<configuration_UaString_array_forbidden_nullForbidden></configuration_UaString_array_forbidden_nullForbidden>
		<configuration_OpcUaBoolean_array_forbidden_nullAllowed></configuration_OpcUaBoolean_array_forbidden_nullAllowed>
		<configuration_OpcUaByte_array_forbidden_nullAllowed></configuration_OpcUaByte_array_forbidden_nullAllowed>
		<configuration_OpcUaSByte_array_forbidden_nullAllowed></configuration_OpcUaSByte_array_forbidden_nullAllowed>
		<configuration_OpcUaUInt16_array_forbidden_nullAllowed></configuration_OpcUaUInt16_array_forbidden_nullAllowed>
		<configuration_OpcUaInt16_array_forbidden_nullAllowed></configuration_OpcUaInt16_array_forbidden_nullAllowed>
		<configuration_OpcUaUInt32_array_forbidden_nullAllowed></configuration_OpcUaUInt32_array_forbidden_nullAllowed>
		<configuration_OpcUaInt32_array_forbidden_nullAllowed></configuration_OpcUaInt32_array_forbidden_nullAllowed>
		<configuration_OpcUaUInt64_array_forbidden_nullAllowed></configuration_OpcUaUInt64_array_forbidden_nullAllowed>
		<configuration_OpcUaInt64_array_forbidden_nullAllowed></configuration_OpcUaInt64_array_forbidden_nullAllowed>
		<configuration_OpcUaDouble_array_forbidden_nullAllowed></configuration_OpcUaDouble_array_forbidden_nullAllowed>
		<configuration_OpcUaFloat_array_forbidden_nullAllowed></configuration_OpcUaFloat_array_forbidden_nullAllowed>
		<configuration_UaString_array_forbidden_nullAllowed></configuration_UaString_array_forbidden_nullAllowed>
		<configuration_OpcUaBoolean_array_delegated_nullForbidden></configuration_OpcUaBoolean_array_delegated_nullForbidden>
		<configuration_OpcUaByte_array_delegated_nullForbidden></configuration_OpcUaByte_array_delegated_nullForbidden>
		<configuration_OpcUaSByte_array_delegated_nullForbidden></configuration_OpcUaSByte_array_delegated_nullForbidden>
		<configuration_OpcUaUInt16_array_delegated_nullForbidden></configuration_OpcUaUInt16_array_delegated_nullForbidden>
		<configuration_OpcUaInt16_array_delegated_nullForbidden></configuration_OpcUaInt16_array_delegated_nullForbidden>
		<configuration_OpcUaUInt32_array_delegated_nullForbidden></configuration_OpcUaUInt32_array_delegated_nullForbidden>
		<configuration_OpcUaInt32_array_delegated_nullForbidden></configuration_OpcUaInt32_array_delegated_nullForbidden>
		<configuration_OpcUaUInt64_array_delegated_nullForbidden></configuration_OpcUaUInt64_array_delegated_nullForbidden>
		<configuration_OpcUaInt64_array_delegated_nullForbidden></configuration_OpcUaInt64_array_delegated_nullForbidden>
		<configuration_OpcUaDouble_array_delegated_nullForbidden></configuration_OpcUaDouble_array_delegated_nullForbidden>
		<configuration_OpcUaFloat_array_delegated_nullForbidden></configuration_OpcUaFloat_array_delegated_nullForbidden>
		<configuration_UaString_array_delegated_nullForbidden></configuration_UaString_array_delegated_nullForbidden>
		<configuration_OpcUaBoolean_array_delegated_nullAllowed></configuration_OpcUaBoolean_array_delegated_nullAllowed>
		<configuration_OpcUaByte_array_delegated_nullAllowed></configuration_OpcUaByte_array_delegated_nullAllowed>
		<configuration_OpcUaSByte_array_delegated_nullAllowed></configuration_OpcUaSByte_array_delegated_nullAllowed>
		<configuration_OpcUaUInt16_array_delegated_nullAllowed></configuration_OpcUaUInt16_array_delegated_nullAllowed>
		<configuration_OpcUaInt16_array_delegated_nullAllowed></configuration_OpcUaInt16_array_delegated_nullAllowed>
		<configuration_OpcUaUInt32_array_delegated_nullAllowed></configuration_OpcUaUInt32_array_delegated_nullAllowed>
		<configuration_OpcUaInt32_array_delegated_nullAllowed></configuration_OpcUaInt32_array_delegated_nullAllowed>
		<configuration_OpcUaUInt64_array_delegated_nullAllowed></configuration_OpcUaUInt64_array_delegated_nullAllowed>
		<configuration_OpcUaInt64_array_delegated_nullAllowed></configuration_OpcUaInt64_array_delegated_nullAllowed>
		<configuration_OpcUaDouble_array_delegated_nullAllowed></configuration_OpcUaDouble_array_delegated_nullAllowed>
		<configuration_OpcUaFloat_array_delegated_nullAllowed></configuration_OpcUaFloat_array_delegated_nullAllowed>
		<configuration_UaString_array_delegated_nullAllowed></configuration_UaString_array_delegated_nullAllowed>
	</TestClass>

</configuration>
